<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <!--
     test stuff

    <p> {{"hello" + "world"}} </p>
  -->
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!--

                Implement a way to filter through listings using the search bar

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model='searchBox'>
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <!--

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings


              <tr>
                <td>{{listings[0].code}}</td>
                <td>{{listings[0].name}}</td>
                <td></td>
              </tr>
              <tr>
                <td>{{listings[1].code}}</td>
                <td>{{listings[1].name}}</td>
                <td></td>
              </tr>
            -->
              <tr ng-repeat='listing in listings | filter:searchBox' ng-click='showDetails($index)' class ='table-cell-group-item'>
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td>
                  <input type="button" value="X" class="btn-btn-primary" ng-click="deleteListing($index)"
                </td>
              </tr>
            </table>
          </div>
          <!--

              Write an HTML form that adds new listings to the directory

            -->
            <h1> New Entry </h1>
            <table border = '0'>
                <tr>
                  <td> Enter Code:  </td>
                  <td><input ng-model = "newCode" class='form-control'></td>
                </tr>
                <tr>
                  <td> Enter Name:  </td>
                  <td><input ng-model = "newName" class='form-control'></td>
                </tr>
                <tr>
                  <td> Enter Longitude:  </td>
                  <td><input ng-model = "newLongitude" class='form-control'></td>
                </tr>
                <tr>
                  <td> Enter Latitude:  </td>
                  <td><input ng-model = "newLatitude" class='form-control'></td>
                </tr>
                <tr>
                  <td> Enter Address:  </td>
                  <td><input ng-model = "newAddress" class='form-control'></td>
                </tr>

                <tr>
                <td>
                </td>
                <td>
                  <button ng-click='addListing()'>Submit</button>
                  </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>{{detailedInfo.name}}</h2>
            <p>latitude: {{detailedInfo.latitude}}</p>
            <p>longitude: {{detailedInfo.longitude}}</p>
            <p ng-repeat='line in detailedInfo.address'>
              {{line}}
            </p>
            </details>
            <!--

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
